#franchise {
    .section-about-page-content-title {
        margin: 25px 0;
    }

    .row-six-img-content {
        .franchise-title {
            margin-bottom: 25px;
        }
    }

    .form-franchise {
        font-family: 'atwriter',sans-serif!important;

        .form-control {
            background-color: #fafafa;
            font-size: 16px;
            color: black;
            border: 1px solid #cccccc;
        }
    }
}
