.section-banner-experience {
    #bg-reservations {
        background-image: url("/img/home-page/reservation_banner.jpg");

        .section-banner-text-title {
            margin-bottom: 25px;
        }
    }
}

#section-content-reservations {
    .form-reservations {
        font-family: 'atwriter',sans-serif!important;

        .form-control {
            background-color: #fafafa;
            font-size: 16px;
            color: black;
            border: 1px solid #cccccc;

        }

        .color-label {
            color: #a3a3a3;
        }

        .btn-submit-reservations {
            margin-bottom: 50px;
            padding: 14px 35px;
            font-size: 14px;
            font-weight: 600;

            @media (max-width: 576px) {
                padding: 12px 32px;
            }
        }
    }

    #call-for-party {
        font-size: 22px;

        @media (max-width: 576px) {
        font-size: 16px;
    }
    }

    .section-about-page-content-title {
        margin-top: 10px;
        font-size: 23px;

        @media (max-width: 576px) {
            font-size: 18px;
        }
    }

    .img-reservations {
        margin: 25px 0;
    }
}