.section-footer {
    background-color: #C00001;
    color: white;

    .col-footer {
        margin: 50px 0 100px;
        text-align: center;
    }

    .section-footer-title {
        margin-bottom: 15px;
        font-size: 22px;
        font-weight: 300;
    }

    .section-footer-content {
        font-family: 'atwriter';
        font-size: 16px;
        font-weight: 300;
    }

    .img-logo {
        width: 30px;
    }

    @media (max-width: 576px) {
        .col-footer {
            margin: 50px 0 0;
            text-align: center;
        }
    }
}
